.no-blueprint .blueprint-dependent {
    visibility: hidden;
}

.unused-blueprint.ui-accordion-header-collapsed {
    color: gray;
}

.unused-blueprint.ui-accordion-header-active {
    color: white;
}

.ui-accordion-header.has-blueprint .ui-accordion-header-icon {
    background-image: url("../../images/icons/ui-icon_blueprint_16x16.png");
    background-position: left;
    width: 16px;
    height: 16px;
}

#heading_accountlist {
    font-family: Arial,Helvetica,sans-serif;
    color: #2b2b2b;
}

.ui-accordion-content .ui-button{
    margin: 2px 4px;
}

.export-blueprint-button, .delete-blueprint-button{
    float: right;
    height: 20px !important;
    width: 20px !important;
    border-radius: 1px;
}
.ui-corner-all{
    border-radius: 1px;
}

#label_import_blueprints {
    float:right;
    position: relative;
    top: 5px;
}

#import_blueprints {
    display: none;
}

#content {
    visibility: hidden;
}

#url,#new-password{
    padding: 10px;
    margin: 10px;
}
input[type = text]{
    width:90%;
    padding:3px 0;
    border-radius:5px;
}
input[type = password]{
    width:90%;
    padding:3px 0;
    border-radius:5px;
}
.ui-dialog-buttonset {
    width:100%;
    border-style: hidden;
}

.ui-dialog-buttonset .ui-button:first-child{
    float:left;
    position:relative;
}
.ui-dialog-buttonset .ui-button:last-child {
    bottom: 50%;
    position: relative;
}
.ui-dialog-buttonset .ui-button:nth-child(2n){
    float: right;
    position: relative;

}

#password-strength{
    padding : 10px 0;
    height: 30px;
    margin: 10px;
    position: relative;
}

#requirements{
    margin: 10px;
    list-style-type: square;
    list-style-position: inside;
    position: relative;
    color: black;

}

