body {
    font-family: Arial, Helvetica, sans-serif;
    color: #2b2b2b;
    padding: 0 10%;
}

img {
    padding: 10px;
    margin-top: 15px;
    border: 1px lightgrey;
    border-style: solid;
}

p {
    margin-bottom: 0;
}

li {
    margin-top: 10px;
}

li.acc-list-entry {
  margin-top: 25px;
}